@import "tailwindcss";

@theme {
  --color-ada-blue: #336178;
  --color-ada-blue-dark: #172C36;
  --color-ada-blue-light: #E0E7EB;
  --color-ada-red: #ae485e;
  --color-ada-red-light: #F9F0F2;
}

@layer base {
  body {
    font-family: -apple-system, "Segoe UI", Roboto, sans-serif;
  }
}